<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Match</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg py-3 fixed-top border" style="background-color: #bc9ff2; position: relative;">
        <div class="container">
            <a href="index.html" class="navbar-brand" style="font-weight: bolder; color: rgb(130, 9, 244);"><img
                    src="../assets/images/bird.png" style="height: 35px; border-right: 10px;">Match</a>
            <div class="right">
                <a href="history.html"
                    style="background-color: #5331da; margin-right: 5px; padding: 7.5px 15px; border-radius: 10px; color: white; text-decoration: none;">Previous
                    Dates</a>
                <a href="profile.html"><img src="../assets/images/user.png" alt="" style="height: 45px;"></a>
            </div>
        </div>
    </nav>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</html>